/* 
*   Adding CSS animations to Bloc Jams Player
*/

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

.animate {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.selling-points .point:hover {
  @include transition(all, 0.2s, ease-in-out);
  margin-top: 10px;
}

.selling-points .point:hover:after {
  @include transition(all, 0.5s, ease-in-out);
  margin-top: 0px;
}

.img-responsive {
  @include transition(all, 0.5s, ease-in-out);

}

div.landing-album-list.container {
  perspective: 1000;
}

.card {
  width: 390px;
  height: 390px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  position: relative;
}

.card:hover{
  transform: rotateY(180deg);
}

.front-face {
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
}

.back-face {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  color: red;
  width: 100%;
  height: 100%;
  background-color: #aaa;
  transform: rotateY(180deg);
  box-sizing: border-box;
  backface-visibility: hidden;
}

